@model IEnumerable<AlbertosMarket.ViewModels.TradeOptionGroup>

@{
    ViewBag.Title = "Trade Topic Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Options
        </th>
        <th>
            Number of Postings
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Option)
            </td>
            <td>
                @item.TradeCount
            </td>
        </tr>
    }
</table>