@{
    ViewBag.Title = "the Market";
    //var imagePath = "~/Content/images/the-market.png";
}

<div class="row">
    <div class="col-10">
        <h2>Welcome to <i>the Market</i></h2>
        <p>
            <i>the Market</i> is an application that
            allows users to communicate amongst one another 
            and create transactions amongst each other locally. 
        </p>
        <p>
            Click in the link below to start chatting with locals and 
            get yourself a good deal.
        </p>
    </div>

    <div class="jumbotron">
        @Html.ActionLink("Open Chat", "Chat")
    </div>
</div>